<ion-content [fullscreen]="true">
  <form
  [formGroup]="loginForm"
  (ngSubmit)="doLogin()">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input
              type="email"
              label="Email"
              placeholder="jane@doe.com"
              [control]="email"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input
              type="password"
              label="Password"
              placeholder="*************"
              errorText="Invalid password"
              [control]="password"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <a [routerLink]="['/register']">Create account</a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button
              type="submit"
              color="success"
              [disabled]="loginForm.invalid"
              value="Register"
              ></app-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
