<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="ion-padding"></div>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>PROFILE</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-button
    type="button"
    color="danger"
    value="Log Out"
    icon="log-out-outline"
    (click)="logOut()"
    ></app-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="ion-padding"></div>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>BOOKS</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
      @for (book of books; track $index) {
          <ion-card>
            <img [src]="book.formats['image/jpeg']" />
            <ion-card-header>
              <ion-card-title>
                  {{ book.title }}
              </ion-card-title>
              <ion-card-subtitle>
                  {{ book.authors }}
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              {{ book.summaries }}
            </ion-card-content>
          </ion-card>
      }
  </ion-content>
</div>